# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Microservices.Eshop.iml
# Datasource local storage ignored files
/../../../../../../../:\_repos\microservices.eshop\src\.idea\.idea.Microservices.Eshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
